<% include partials/_header %>
<div class="url">
  <div class="original-url">URL:
    <%= urls[shortURL] %>
  </div>
  <div class="shortened-url">Shortened:
    <%= shortURL %>
  </div>
</div>
<% include partials/_footer %>
