form {
  display: inline-block;
}

.login-area {
  margin-top: 8px;
}

.custom-flex-form {
  display: flex;
  padding-right: 16px;
}

.update-button {
  display: inline-block;
  margin-left: 4px;
}

.add-new-button {
  margin-bottom: 12px;
}
